body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #eee2c0;
    margin: 0;
    background-image: url(assets/wallpaper_dogs.jpg);
    background-position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flex {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #FFD8B4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}

nav img {
    margin-left: 10px;
    width: 250px;
    height: 100px;
}

h1 {
    color: rgb(0, 0, 0);
}

h2 {
    text-align: center;
    margin: 10px 0;
}

h3 {
    text-align: center;
    margin: 10px 0;
}

#text_form_cabeca {
    width: 450px;
    flex-direction: column;
    background-color: rgb(253, 224, 186);
    border-radius: 8px;
    border-bottom: 3px solid #cda61a;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

#head_cabeca {
    display: flex;
    align-items: center;
    justify-content: center;

}

form {
    background-color: white;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(184, 122, 17);


}

input {
    padding: 15px;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
}

select {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
}

textarea {
    padding: 5px;
    border-radius: 8px;
    border: 2px solid #ccc;
    outline: none;
    width: 210px;
}

label[termos] {
    justify-content: baseline;
}

form button {
    width: 400px;
    justify-content: space-around;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #ccc;
    background-color: burlywood;
    cursor: pointer;
    
}

button:hover {
    background-color: rgb(235, 166, 38);
}

#gif {
    width: 250px;
    height: 250px;
    position: fixed;
    bottom: -65px;
    right: 10px;
}