body{
    font-family: Arial, sans-serif;
    background-color: #eee2c0;
    margin: 0;
    padding-bottom: 20px;
}

nav{
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;

}

nav img{
    margin-left: 10px;
    width: 250px;
    height: 100px;
}

h2{
    text-align: center;
    margin: 10px 0;
}
h3{
    text-align: center;
    margin: 10px 0;
}

form{
    background-color: white;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}